.wrapper {
    display: flex;
    padding-top: 5px;
}

.buttons {
    display: flex;
    list-style: none;
}


.button {
    width: 3.75rem;
    height: 3.75rem;
    flex-shrink: 0;
    border-radius: 1.25rem;
    background: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0.62rem;
}

.icons {
    width: 1.875rem;
    height: 1.875rem;
    flex-shrink: 0;
}

@media (max-width: 768px) {
    .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .button {
        margin-left: 0;
        margin-top: 0.62rem;
    }
}

/* For screens with a maximum width of 360px */
@media (max-width: 360px) {
    .wrapper {
        padding: 20px;
        flex-direction: column;
        align-items: center;
    }

    .button {
        margin-left: 0;
        margin-top: 0.62rem;
    }

    .buttons {
        flex-direction: column;
        align-items: center;
    }
}