.wrapper {
  display: flex;
  height: 56.25rem;
  align-items: flex-start;
  gap: 8.5625rem;
  padding-top: 1.75rem;
  background: #F8F8F7;
  justify-content: center;
}

.navigation {
  width: 27.875rem;
  height: 34rem;
  border-radius: 1.25rem;
  background: #F8F8F7;
}

.content {
  width: 44.5rem;
  height: 52.5rem;
  border-radius: 1.25rem;
  display: flex;
  justify-content: center;
  background: #F8F8F7;
  overflow-y: scroll;
  overflow-x: hidden;
}


@media (min-width: 1281px) {
}


@media (min-width: 1025px) and (max-width: 1280px) {
  .wrapper {
    padding: 1.875rem;
    gap: 2rem;
  }

  .navigation {
    width: 20rem;
    height: auto; 
  }

  .content {
    width: calc(100% - 20rem);
    max-width: 800px; 
    height: auto;
    overflow: visible;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  .wrapper {
    flex-direction: column;
    padding: 1.875rem;
    gap: 2rem;
  }

  .navigation,
  .content {
    width: 100%;
    height: auto;
    overflow: visible;
  }
}


@media (min-width: 481px) and (max-width: 767px) {
  .wrapper {
    flex-direction: column;
    padding: 1.875rem;
    gap: 2rem;
  }

  .navigation,
  .content {
    width: 100%;
    height: auto; 
    overflow: visible;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .wrapper {
    flex-direction: column;
    padding: 1.875rem;
    gap: 2rem;
  }

  .navigation,
  .content {
    width: 100%;
    height: auto; 
    overflow: visible;
  }
}