.wrapper {
  display: flex;
  height: 56.25rem;
  padding: 1.875rem 1.875rem 1.875rem 9.1875rem;
  align-items: flex-start;
  gap: 8.5625rem;
  background: #F8F8F7;
}

.navigation {
  width: 27.875rem;
  height: 34rem;
  border-radius: 1.25rem;
  background: #F8F8F7;
}

.content {
  width: 44.5rem;
  height: 52.5rem;
  border-radius: 1.25rem;
  display: flex;
  justify-content: center;
  background: #F8F8F7;
  overflow-y: scroll;
  overflow-x: hidden;
}